@model BMS.Models.SubHeadModel
@{
    ViewBag.Title = "Head";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .form-control1 {
        border: 1px solid #f11111 !important;
    }
</style>
<div class="clearfix"></div>
@{string confirmMessage = Convert.ToString(TempData["Message"]); }
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                @using (Html.BeginForm("SubHead", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Budget Type:</label>
                                        @Html.HiddenFor(x => x.SubHead.SubHead_Id, new { @id = "Subheadid" })
                                        @{
                                            var BudgetList = new SelectList(Model.lstBudget, "BugtTyp_Id", "BgtTypNm").ToList();
                                            BudgetList.Insert(0, new SelectListItem() { Value = "0", Text = "-- Select One --" });
                                        }
                                        @Html.DropDownListFor(x => x.SubHead.BugtTyp_Id, BudgetList, new { @required = "true", @class = "form-control", @id = "budgt",@Onchange= "Bindhead()" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>HeadName:</label>

                                       @{
                                           var headlist = new SelectList(Model.Head, "Head_Id", "hdnm").ToList();
                                           headlist.Insert(0, new SelectListItem() { Value = "0", Text = "-- Select One --" });
                                        }
                                        @Html.DropDownListFor(x => x.SubHead.Head_Id, headlist, new { @required = "true", @class = "form-control", @id = "head", @disabled="disabled" })
                                       
                                    </div>
                                    <div class="col-md-4">
                                        <label>SubheadCode:</label>
                                        @Html.TextBoxFor(m => m.SubHead.SubHead_Code, new { @required = "true", @id = "subheadcode", @class = "form-control", @placeholder = "Name", @autocomplete = "off" })
                                        @*@Html.ValidationMessageFor(m => m.Role.RoleDesc, "", new { @class = "error" })*@
                                    </div>

                                    <div class="col-md-4">
                                        <label>SubheadName:</label>
                                        @Html.TextBoxFor(m => m.SubHead.SubHead_Name, new { @required = "true", @id = "subheadname", @class = "form-control", @placeholder = "Name", @autocomplete = "off" })
                                        
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" id="Submit">Submit</button>
                            <button type="button" class="btn btn-danger" onclick="location.reload()" style="float:right">Cancel</button>
                        </div>
                    </div>
                }

            </div>

        </div>
       
        <!-- Breadcrumb-->
        <!-- End Breadcrumb-->
        <div class="row pt-4 pb-3">
            <div class="col-lg-12">
                @{confirmMessage = Convert.ToString(TempData["Message"]);}
                @if (!string.IsNullOrEmpty(confirmMessage))
                {
                    <div class="alert alert-success alert-dismissable" id="divSuccessMessage">
                        @confirmMessage
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                }
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-table"></i> SubHead List
                            </div>
                            <div class="col-md-6 text-md-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>  Add</button>



                            </div>
                        </div>

                    </div>
                    @if (ViewBag.GridData == null)
                    {
                        <div class="box-body">
                            <div id="FormOne">
                                <div class="row">
                                    <div class="col-md-12">No Application found.</div>
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="default-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="default-datatable" class="table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>Budget Type</th>
                                                        <th>Head Name</th>
                                                        <th>SubHead Code</th>
                                                        <th>SubHead Name</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var d in ViewBag.GridData)
                                                    {
                                                        <tr>

                                                            <td>@d.BgtTypNm</td>
                                                            <td>@d.hdnm</td>
                                                            <td>@d.SubHead_Code</td>
                                                            <td>@d.SubHead_Name</td>
                                                            <td>
                                                                <a href="#" data-toggle="modal" data-target="#myModal" class='btn btn-primary' style='cursor:pointer;' onclick="EditSubHead(@d.SubHead_Id)">
                                                                    <i class='fa fa-edit'></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class='btn btn-danger' style='cursor:pointer;' onclick="DeleteSubHead(@d.SubHead_Id)">
                                                                    <i class='fa fa-trash'></i>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div><!-- End Row-->




    </div>
    <!-- End container-fluid-->

</div><!--End content-wrapper-->
}

<script src="~/assets/js/jquery.min.js"></script>
<script>

    $("#Submit").click(function (e) {
        debugger;
        var pcount = 0;


        if ($("#budgt").val() == "0") { $("#budgt").addClass('form-control1'); pcount = 1; }
        if ($("#head").val() == "0") { $("#head").addClass('form-control1'); pcount = 1; }
        if ($("#subheadcode").val() == "") { $("#subheadcode").addClass('form-control1'); pcount = 1; }
        if ($("#subheadname").val() == "") { $("#subheadname").addClass('form-control1'); pcount = 1; }

        if (pcount != 0) {
            e.preventDefault();
            return false;
        }

    });
    function EditSubHead(id) {
        debugger;
        $.ajax({
            type: 'POST',
            url: "/Admin/BindSubHead",
            data: { id: id },
            dataType: "json",
            success: function (resultData) {

                debugger;
                $("#head").prop('disabled', false);
                //$("#myModal").html(resultData);
                //$("#myModal").addClass('show');
                //$("#myModal").css("display","block");
                $("#Subheadid").val(resultData.SubHead_Id);
                $("#head").val(resultData.Head_Id);

                $("#subheadcode").val(resultData.SubHead_Code);
                $("#subheadname").val(resultData.SubHead_Name);
                $("#budgt").val(resultData.BugtTyp_Id);
                $("#Submit").text("Update");
            }
        })
    }
    function DeleteSubHead(id) {
        debugger;
        if (confirm("Are You sure to delete this record..?")) {
            $.ajax({
                type: 'POST',
                url: "/Admin/DeleteSubHead",
                data: { id: id },
                dataType: "json",
                success: function (resultData) {
                    if (resultData == true) {

                        alert("Data Deleted successfully..");
                        location.href = "/Admin/SubHead";
                        //window.location.reload();

                    }
                }

            })
        }
    }

    function Bindhead() {
        debugger;
        $.ajax({
            type: 'POST',
            url: "/Admin/Bindheaddata",
            data: { budgetid: $("#budgt").val() },
            dataType: "json",
            success: function (resultData) {
                debugger;
                var data = "";
                $("#head").html('');
                $("#head").append("<option value='0'>--Select One--</option>");
                if (resultData != null) {
                    $("#head").prop('disabled', false);
                    for (var i = 0; i < resultData.length; i++) {
                        data += "<option value=" + resultData[i].Head_Id + ">" + resultData[i].hdnm + "</option>";

                    }

                }
                $("#head").append(data);
            }
        })
    }



</script>


